<div class="container">
  <div class="row" style="justify-content: space-between; margin-top: 20px;">
    <div class="col-xs-12 col-lg-3">
      <button routerLink="/sport"
      class = "m- btn btn-light btn-outline-primary" Button>Sports</button>
      <h1 id="rainbow">Click Now</h1>
      </div>
   
      <div class="col-xs-12 col-lg-6">
        <img class="img-fluid" style="width: 90%; height: 90%; margin: 15px;" src="assets/sports.gif" alt="gif">
      </div>
  
      <div class="col-xs-12 col-lg-3">
      <button routerLink="/player"
      class = "m- btn btn-light btn-outline-primary" Button>Players</button>
      <h1 id="rainbow">Click Now</h1>
      </div>
  </div>